<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "on",  autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "on" %><br/>
  </div>
  
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :required => true %>
  </div>
  
  <%= resource.errors.full_messages.first if resource.errors.any? %>
  <div class="actions">
    <%= f.submit "Update" %>&nbsp;&nbsp; <%= button_to "Cancel", create_ad_path, :method => "get" %>
  </div>
  <!--<div class="actions">
  	<%= button_to "Cancel", create_ad_path, :method => "get" %>
  </div>-->
<% end %>
