<li id="bigAd-<%= ad.id %>">
  <%= link_to gravatar_for(ad.user, size: 50), ad.user %>
  <span class="title"><%=ad.title %></span>
  <span class="nickname"><%=ad.user.nickname %></span>
  <span class="tags"><%= ad.tags %></span>
  <span class="price"><%= ad.price %></span>
  </span>
</li>