<li id="ad-<%= ad.id %>">
  <span class="First Name"><%=user.first_name %></span>
  <span class="Last Name"><%=ad.last_name %></span>
  <span class="Nickname"><%=ad.nickname %></span>
  <span class="Address"><%=ad.phone %></span>
  <span class="Phone"><%=ad.address %></span>
  
  </span>
</li>