<li id="ad-<%= ad.id %>">
  <span class="content">
	<h2><%= ad.title %></h2><br/>
    <%= image_tag ad.picture.url if ad.picture? %>&nbsp;&nbsp;
    <%= '$'+ad.price %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(ad.created_at) %> ago.
    <%= link_to "view", full_ad_path(:book=>ad.books_id, :ad=>ad.id)%>
    <% if current_user?(ad.user) %>
      <%= link_to "delete", ad, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>