<p>
  <span class="content">
  	<div class="row">
		<p> <%= @ad.title %></p>
		<p>User: <%= @user.nickname %></p>
		
			<p>User Rating: <%= @starrating.average(:rating)  %> 
		<p>Contact: <%= @user.email %></p>
		<p>Book Title: <%= @book.title %></p>
		<p>Edition: <%= @book.edition %></p>
		<p>Number of pages: <%= @book.num_of_pages %></p>
    	<%= image_tag @ad.picture.url if @ad.picture? %>&nbsp;&nbsp;<br/>
		<p>Decription: <br/><%= @ad.description %><br/></p>
    	<p>Posted <%= time_ago_in_words(@ad.created_at) %> ago.</p>
	</div>
  </span>
  
  <span class="timestamp">
    <% if current_user?(@ad.user) %>
      <%= link_to "delete", @ad, method: :delete, data: { confirm: "You sure?" } %><br/><br/>
    <% end %>
	  <%= link_to "1 Star", rate_path(:starrating=>{:ownerID=>@user.id, :raterID=>current_user.id, :ad_id=>@ad.id, :rating=>1}), :method => :post %><br/>
	  <%= link_to "2 Stars", rate_path(:starrating=>{:ownerID=>@user.id, :raterID=>current_user.id, :ad_id=>@ad.id, :rating=>2}), :method => :post %><br/>
	  <%= link_to "3 Stars", rate_path(:starrating=>{:ownerID=>@user.id, :raterID=>current_user.id, :ad_id=>@ad.id, :rating=>3}), :method => :post %><br/>
	  <%= link_to "4 Stars", rate_path(:starrating=>{:ownerID=>@user.id, :raterID=>current_user.id, :ad_id=>@ad.id, :rating=>4}), :method => :post %><br/>
	  <%= link_to "5 Stars", rate_path(:starrating=>{:ownerID=>@user.id, :raterID=>current_user.id, :ad_id=>@ad.id, :rating=>5}), :method => :post %><br/>
  </span>
</P>